$column-color: rgba(255, 255, 255, 83%);
$white-color: white;
$hovercard-color: cornflowerblue;
$border-color: rgba(0, 0, 0, 0.205);
$close-color: red;
$hoverclose-color: rgb(121, 9, 9);
$tag-devide-color: rgb(255, 238, 0);
$red-color: rgb(253, 17, 17);
$tag-front-color: rgb(5, 196, 5); 
$header-color: rgba(17, 117, 162, 53%);
$border-radius: 10px;
$tagclose-radius:20px;

$font: 'Lato', sans-serif;

$tag-border: 20px;